/*
Font-Family: 'Slabo 13px', Serif;
Font-Size: 48px;
Font-Family: 'Lato', Sans-Serif;
Font-Size: 16px;
*/

* {
	box-sizing: border-box;
}

body {
	background: #000000 url('../gradient1.jpg'); 
	color: rgb(0, 0, 0);
	font-family: 'Slabo 13px', serif;
}

a {
	font-family: 'lato', sans-serif;
	text-decoration: none;
	color: black;
}

a:hover { color:chartreuse; }

header, nav, main, footer {
	
	width: 80%;
	margin: auto;
}


/* Header styles */
header { 
	
	color:chartreuse;
	min-height: 100px;
	margin-top: 60px;
	
}

h1 {
	
	padding: 40px 60px;
	font-size: 60px;
}


/* Nav styles */

nav ul { 
	display: flex;
	justify-content: flex-end;
}
nav li { padding: 10px 10px; }
nav a { color:chartreuse; }
nav a:hover { color: white; }


/* Main styles */
main { 
	background-color: #fff;
	display: grid;
	grid-template-columns: 60% 40%;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
	margin-bottom: 40px;
}

aside {
	padding: 40px 10px;
}

/* Footer styles */
footer { 
	
	color: white;
	text-align: center;
 }
 footer p { padding: 20px; }
