.title {
    font-size: 2.5rem;
    font-family: 'Lobster', cursive;
  }
  
  .wrapper {
    animation: scroll 70s linear infinite;
    background: url("images/background.png"), #111111;
    color: #eee;
    height: 100vh;
    min-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    
  }
  
  @keyframes scroll {
     100%{
      background-position:-3000px 0px;
    }
  }