/*font-family: dico-code-one, mono;

font-weight: 400;

font-style: normal; */

 img { width: 100%;
  
}
 .startbutton { width: 500px;
  margin:auto; 
  }
  
  .wrapper {
    /* animation: scroll 70s linear infinite; */
    background:url("images/background.png");
    background-repeat:repeat-x;
    background-size: 490px;
    height: 100vh;
    min-width: 360px;
    width: 100%;
    margin-top:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    
  }

 .forward {animation: scroll 70s linear infinite; }

 .person-space {position: absolute;
top: 80px;
left: 45%;}
  
.container {
  position: relative;
  text-align: center;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-family: dico-code-one, mono; 
  font-weight: 400;
  font-style: normal;
  font-size: 36px;

}
.arrow {width:50px;
  position: relative;
  bottom: 50px;
  left: 900px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;}

.flex-item {  padding: 5px;
  width: 500px;
  height: 150px;
  margin-top: 10px;
  text-align: right;
 }


  @keyframes scroll {
     100%{
      background-position:-3000px 0px;
    }
    
  }
  
  @media (prefers-reduced-motion) {
    .wrapper { 
      animation: scroll 200s linear infinite;
    }
  }
  
  @media (min-width: 670px) {
   
    
  }
