/* Enter your Styles below! 


font-family: roc-grotesk-extrawide, sans-serif;

font-weight: 600;

font-style: normal;
*/



.homepage {
    background-color: #eb008b;
    margin: 0;
    padding: 0;
    color: #acf708;
    font-size: 144px;
    font-weight: 600;    
  }

  .homepage { 
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 35vh;
   
    }
     .homepage a {
      cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌎</text></svg>") 16 0,auto; /*!emojicursor.app*/
      position: absolute;
     }

  .kanye-img {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 200px;
   
    }
  
   
  .marquee {
    
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    width: 100vw;
    transform: rotate(0deg);
    height: 200px;
    overflow-x: hidden;

  }
  .track {
    
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
    
  }


  
  @keyframes marquee {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
  }
  
h1 {
  font-family: 'roc-grotesk-extrawide', sans-serif;

  font-weight: 600;

  font-style: normal;

  font-size: 72px;
  color: chartreuse;
    
}


header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
 
    


@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}

.page-two {

  background-image: linear-gradient(#eb008b,#0033cc);
}

.page-two main { 
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>") 16 0,auto; /*!emojicursor.app*/
    margin: 0;
    padding: 0;
   
}

.page-two a { cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>") 16 0,auto; /*!emojicursor.app*/}
img {
  
 max-width: 60%;
 max-height: 60%;
 
}
.gallery {
    
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: 15vw;
  display: flex;
  flex-wrap: wrap;
  top:100px;
  

}

a {cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>") 16 0,auto; /*!emojicursor.app*/}
img {
  
 max-width: 60%;
 max-height: 60%;
 
}



.gallery div {
  flex: 30%;
}


.gallery2 {

  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 35vh;
  margin-left: 15vw;
  display: flex;
  flex-wrap: wrap;
  top: -200px;
 
}
.gallery2 div {
  flex: 30%;
}
.page-three { background-image: linear-gradient(#0033cc,#acf708);}

.page-three {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto auto auto;
  padding: 70px;
}

.page-three {
  
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.page-three a {

  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚀</text></svg>") 16 0,auto; /*!emojicursor.app*/
}


.grid-container {
  margin-top: 20px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto ;
  padding: 70px;
}

.grid-item {
  
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

a { font-family: 'roc-grotesk-extrawide', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px; 
  font-size: 24px;
  color: #0033cc;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤖</text></svg>") 16 0,auto; }

.page-four 

.grid-container {
  margin-top: 20px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto ;
  padding: 70px;
}

.grid-item {
  
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.page-five { background-image:linear-gradient(white,#0033cc) ;}

.grid-container {
  margin-top: 20px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto  ;
  padding: 70px;
}

.grid-item {
  
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

img { max-width: 40vw;}

p {text-align: left;
  font-family: 'roc-grotesk-extrawide', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color:#4e0fb6;
}

