/* Enter your Styles below! 


font-family: roc-grotesk-extrawide, sans-serif;

font-weight: 600;

font-style: normal;
*/



body {
    background-color: #eb008b;
    
    margin: 0;
    padding: 0;
    color: #acf708;
    font-size: 144px;
    font-weight: 600;
  
    
  }

  

  .kanye { 
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 35vh;
   
    }
     .kanye img {
      cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌎</text></svg>") 16 0,auto; /*!emojicursor.app*/
      position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   height: 580px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */

    }
  
   
  .marquee {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    width: 100vw;
    transform: rotate(0deg);
    height: 200px;
    overflow-x: hidden;

  }
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
    
  }


  
  @keyframes marquee {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
  }
  
h1 {
    font-family: 'roc-grotesk-extrawide', sans-serif;

    font-weight: 600;

    font-style: normal;

    font-size: 48px;
    
}


header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
 
    


a { 
    color: red;
    text-decoration: none;
     }
a:hover { color: black; 
}



@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}