


.grid-container {
    margin-top: 20px;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto ;
    padding: 70px;
  }
  
  .grid-item {
    
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  a { font-family: 'roc-grotesk-extrawide', sans-serif;

    font-weight: 600;

    font-style: normal;

    font-size: 24px;
    color: #0033cc;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤖</text></svg>") 16 0,auto; }

    h1 {font-family: 'roc-grotesk-extrawide', sans-serif;

        font-weight: 600;
    
        font-style: normal;
    
        font-size: 72px;
        color: chartreuse;
        
        
        }