/* Enter your Styles below! 


font-family: roc-grotesk-extrawide, sans-serif;

font-weight: 600;

font-style: normal;
*/



body {
    background-color: #eb008b;
    
    margin: 0;
    padding: 0;
    color: #acf708;
    font-size: 144px;
    font-weight: 600;
   
  }

  .marquee {
    position: absolute;
    width: 100vw;
    transform: rotate(0deg);
    max-width: 100%;
    height: 200px;
    overflow-x: hidden;
  
  }
  
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
    
  }


  
  @keyframes marquee {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
  }
  
h1 {
    font-family: 'roc-grotesk-extrawide', sans-serif;

    font-weight: 600;

    font-style: normal;

    font-size: 48px;
    
}


header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { 
    width: 30%;
    margin-left: 500px;

}

a { 
    color: red;
    text-decoration: none;
     }
a:hover { color: black; 
}



@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}