/*font-family: ebony,sans-serif;
font-weight: 400;
font-style: normal;

font-family: ebony, sans-serif;
font-weight: 500;
font-style: normal;

font-family: ebony, sans-serif;
font-weight: 200;
font-style: normal;

*/


body.splash {background-color: black;}

.splash h1 ,h2, h3 {font-family: ebony, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;}

.splash h1 {font-size: 110px;}
h3 {font-size: 36px;}

.container {
    position: relative;
    text-align: center;
    color: white;
  
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  
  body.gallery 
  {background-color: black;}

  .zoom {
    padding: 20px;
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  
.grid-container-gallery {
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
  
  }
   
  .grid-item-gallery {
    
    border: 5px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    text-align: center;
  }
  
  img {width: 100%;}

  a:link.gallery {
    text-decoration: none;
  }
  a:visited.gallery {
    text-decoration: none;
  }

body.greenlow {background-image:url(images/juan-manuel-nunez-mendez-unsplash.jpg);
  }

.greenlow .price {
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  font-family: ebony,sans-serif;
  font-weight: 200;
  font-style:normal;
  font-size: 21px;
  color: lawngreen;
  background-color: white;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid lawngreen;
  position: relative;
  top:150px;
  left:30px;}

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .grid-container > div {
    text-align: center;
    padding: 50px 0;
    
  }

 h1{font-family: ebony,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  color: white;}

h2 {font-family: ebony,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  color: white;}

p{font-family: ebony,sans-serif;
  font-weight: 200;
  font-style:normal;
font-size: 21px;
color: white;}

.greenlow a:link, a:visited{
  
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  font-family: ebony,sans-serif;
  font-weight: 200;
  font-style:normal;
font-size: 21px;
color: white;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid lawngreen;
}

a:hover, a:active {
  color: lawngreen;
}


.greenlow label {color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  font-family: ebony,sans-serif;
  font-weight: 200;
  font-style:normal;
font-size: 21px;
color: white;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid lawngreen;}

body.copperlow {background-image:url(images/jim-gade-unsplash.jpg);}

.price  {
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  font-family: ebony,sans-serif;
  font-weight: 200;
  font-style:normal;
  font-size: 21px;
  color: orangered;
  background-color: white;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid orangered;
  position: relative;
  top:250px;
  left:30px;}

  .copperlow .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.50);
  }
  
  .grid-container > div {
    text-align: center;
    padding: 50px 0;
    
  }

 h1{font-family: ebony,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  color: white;}

h2 {font-family: ebony,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  color: white;}

p{font-family: ebony,sans-serif;
  font-weight: 200;
  font-style:normal;
font-size: 21px;
color: white;}

.copperlow a:link, a:visited{
  
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  font-family: ebony,sans-serif;
  font-weight: 200;
  font-style:normal;
font-size: 21px;
color: white;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid orangered;
}

a:hover, a:active {
  color: orangered;
}


label {color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  font-family: ebony,sans-serif;
  font-weight: 200;
  font-style:normal;
font-size: 21px;
color: white;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid orangered;}

  @media only screen and (max-width: 500px) {
    .item1 { grid-area: 1 / span 3 / 2 / 4; }
    .item2 { grid-area: 3 / span 3 / 4; }
  }