/*
font-family: rooney-sans, sans-serif;

font-weight: 900;

font-style: italic;

font-family: rooney-sans, sans-serif;

font-weight: 700;

font-style: normal;
*/

* {
  box-sizing: border-box;
}

body {
  font-family: rooney-sans,sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  margin: 20;
  background-color: cornflowerblue;
}
h1,
h2,
h3 {
  margin: 0px;
}
img {
  width: 100%;
}
h1 {
  font-family: rooney-sans,sans-serif;
  font-weight: 900px;
  font-size: 32px;
  line-height: 40px;
}
h2 {
  font-family: rooney-sans, sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 20px;
  color:thistle;
}
header h2 {
  font-weight: normal;
}
.feature {
  display: flex;
  flex-direction: column;
}
.feature div {
  flex: 1;
}
.no-widows {
  display: none;
}
.feature-content {
  padding-left: 30px;
}
header,
.feature-content {
  width: 90%;
  margin: auto;
}
.extra-content-blurb {
  display: none;
}
.hide-desktop {
  display: block;
}

.news-thumbs {
  margin-top: 20px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr;
  
}


img { width: 100%;}

@media only screen and (min-width: 1024px) {
  body { background-color:peachpuff;}
  h1 {
    font-size: 60px;
  }
  h2 {color:tomato;}
  .feature {
    flex-direction: row;
    width: 80%;
    margin: 50px;
  }
  .extra-content-blurb {
    display: block;
  }
  .hide-desktop {
    display: none;
  }
  header {
    width: 80%;
    margin: 30px;
  }
  .news-thumbs {
    
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr ;
    
    width: 80%;
    margin: 50px;

    
  }
  
  
  
  
}

@media only screen and (min-width: 768px) {

 
}

@media only screen and (min-width: 1200px) {
  .no-widows {
    display: block;
  }
}

@media only screen and (min-width: 1307px) {
}
