
/* font-family: lust-sans, sans-serif;

font-weight: 300;

font-style: normal; */
body {
 
  background-image:url(images/blob.png) ;
  background-color: #f3cdd9;
  background-size: cover;  
    font-family: lust-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #007037;
  }

h1 {
  margin-bottom: 100px;
    font-size: 36px;
    text-align: center;
}

h2 {
  font-size: 24px;
  text-align: right;
  margin-right: 50px;
}

a:link, a:visited {
  
  color:  #007037;
 
  text-decoration: none;}


  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #007037;
    display: block;
    transition: 0.3s;
    
    
  }
  
  .sidebar a:hover {
    color: #007037;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    color: #007037;
    padding: 10px 15px;
    border: none;
   
  }
  
  
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  




@media only screen and (min-width: 1024px) {
  h1{font-size: 72px;}


  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}




}